
#from_simon/aclocal.m4
from_simon/compile
#from_simon/configure
#from_simon/depcomp
#from_simon/Makefile.in
from_simon/missing
from_simon/mkauto.sh


#from_simon/configure.ac
#from_simon/devel.but
#from_simon/dsf.c
#from_simon/findloop.c
#from_simon/install-sh
#from_simon/Makefile.am
#from_simon/malloc.c
#from_simon/matching.c
#from_simon/matching.h
#from_simon/midend.c
#from_simon/misc.c
#from_simon/no-icon.c
#from_simon/noicon.rc
#from_simon/nullfe.c
#from_simon/puzzles.h
#from_simon/puzzles.rc2
#from_simon/random.c
#from_simon/Recipe
#from_simon/resource.h
#from_simon/slant.c
#from_simon/slant.R
#from_simon/tree234.c
#from_simon/tree234.h
