*.o
/Makefile*
/blackbox
/bridges
/cube
/dominosa
/dominosasolver
/fifteen
/fifteensolver
/filling
/fillingsolver
/flip
/flood
/galaxies
/galaxiespicture
/galaxiessolver
/guess
/inertia
/keen
/keensolver
/latincheck
/lightup
/lightupsolver
/loopy
/loopysolver
/magnets
/magnetssolver
/map
/mapsolver
/matching
/mines
/mineobfusc
/net
/netslide
/nullgame
/numgame
/obfusc
/palisade
/path
/pattern
/patternpicture
/patternsolver
/pearl
/pearlbench
/pegs
/range
/rect
/samegame
/separate
/signpost
/signpostsolver
/singles
/singlessolver
/sixteen
/slant
/slantsolver
/slide
/slidesolver
/sokoban
/solo
/solosolver
/tents
/tentssolver
/tracks
/trackssolver
/towers
/towerssolver
/twiddle
/undead
/unequal
/unequalsolver
/unruly
/unrulysolver
/untangle
/*.exe
/*.obj
/*.map
/*.rsp
/*notes
/HACKING
/*.hlp
/*.cnt
/*.chm
/*.gid
/*.GID
/*.html
/*.mips
/*.class
/*.jar
/applet.manifest
/puzzles.txt
/*.app
/*.dmg
/*.res
/*.inf
/list.c
/gamedesc.txt
/build.log
/build.out
/org
/*.ppc
/*.i386
/*.x86_64
/Puzzles.ppc.bin
/Puzzles.i386.bin
/Puzzles.x86_64.bin
/version2.def
/preprocessed.but
/*.a
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/depcomp
/empty.h
/install-sh
/missing
/compile
/.deps
/.dirstamp
/icons/*.png
/icons/*.ico
/icons/*.rc
/icons/*-icon.c
/icons/.deps
/icons/.dirstamp
/unfinished/divvy
/unfinished/group
/unfinished/numgame
/unfinished/path
/unfinished/pearl
/unfinished/separate
/unfinished/slide
/unfinished/sokoban




#./benchmark.pl
#./benchmark.sh
#./Buildscr
#./CHECKLST.txt
#./chm.css
#./combi.c
#./configure.ac
#./desktop.pl
#./devel.but
#./divvy.c
#./Dockerfile
#./drawing.c
#./dsf.c
#./emcc.c
#./emcclib.js
#./emccpre.js
#./emccx.json
#./findloop.c
#./grid.c
#./grid.h
#./gtk.c
./html
./html/blackbox.html
./html/bridges.html
./html/cube.html
./html/dominosa.html
./html/fifteen.html
./html/filling.html
./html/flip.html
./html/flood.html
./html/galaxies.html
./html/group.html
./html/guess.html
./html/inertia.html
./html/javapage.pl
./html/jspage.pl
./html/keen.html
./html/lightup.html
./html/loopy.html
./html/magnets.html
./html/map.html
./html/mines.html
./html/net.html
./html/netslide.html
./html/palisade.html
./html/pattern.html
./html/pearl.html
./html/pegs.html
./html/range.html
./html/rect.html
./html/samegame.html
./html/signpost.html
./html/singles.html
./html/sixteen.html
./html/slant.html
./html/solo.html
./html/tents.html
./html/towers.html
./html/tracks.html
./html/twiddle.html
./html/undead.html
./html/unequal.html
./html/unruly.html
./html/untangle.html
#./icons
./icons/blackbox.sav
./icons/bridges.sav
#./icons/cicon.pl
#./icons/crop.sh
./icons/cube.sav
./icons/dominosa.sav
./icons/fifteen.sav
./icons/filling.sav
./icons/flip.sav
./icons/flood.sav
./icons/galaxies.sav
./icons/guess.sav
#./icons/icon.pl
./icons/inertia.sav
./icons/keen.sav
./icons/lightup.sav
./icons/loopy.sav
./icons/magnets.sav
#./icons/Makefile
./icons/map.sav
./icons/mines.sav
./icons/net.sav
./icons/netslide.sav
./icons/palisade.sav
./icons/pattern.sav
./icons/pearl.sav
./icons/pegs.sav
./icons/range.sav
./icons/rect.sav
./icons/samegame.sav
#./icons/screenshot.sh
./icons/signpost.sav
./icons/singles.sav
./icons/sixteen.sav
./icons/slant.sav
./icons/solo.sav
#./icons/square.pl
./icons/tents.sav
./icons/towers.sav
./icons/tracks.sav
./icons/twiddle.sav
./icons/undead.sav
./icons/unequal.sav
./icons/unruly.sav
./icons/untangle.sav
#./icons/win16pal.xpm
#./latin.c
#./latin.h
#./laydomino.c
#./LICENCE
#./loopgen.c
#./loopgen.h
#./makedist.sh
#./Makefile.doc
#./malloc.c
#./matching.c
#./matching.h
#./midend.c
#./misc.c
#./mkauto.sh
#./mkfiles.pl
#./nestedvm.c
#./net.c
#./net.R
./netslide.c
./netslide.R
#./no-icon.c
#./noicon.rc
#./nullfe.c
./nullgame.c
./nullgame.R
#./obfusc.c
#./osx-help.but
#./osx-info.plist
#./osx.icns
#./osx.m
#./padtoolbar.bmp
./palisade.c
./palisade.R
./pattern.c
./pattern.R
./pearl.c
./pearl.R
./pegs.c
./pegs.R
#./penrose.c
#./penrose.h
#./printing.c
#./ps.c
#./PuzzleApplet.java
#./puzzles.but
#./puzzles.h
#./puzzles.rc2
#./random.c
#./range.c
#./range.R
#./README
#./Recipe
./rect.c
./rect.R
#./resource.h
./samegame.c
./samegame.R
./signpost.c
./signpost.R
#./slant.c
#./slant.R
#./sort.c
#./tdq.c
./tents.c
./tents.R
#./tree234.c
#./tree234.h
./twiddle.c
./twiddle.R
#./unfinished
./unfinished/group.c
./unfinished/group.gap
./unfinished/group.R
./unfinished/numgame.c
./unfinished/path.c
./unfinished/README
./unfinished/separate.c
./unfinished/separate.R
./unfinished/slide.c
./unfinished/slide.R
./unfinished/sokoban.c
./unfinished/sokoban.R
#./version.c
#./version.h
#./wceinf.pl
#./webpage.pl
#./website.url
#./windows.c
#./winiss.pl
#./winwix.mc
