svg {
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: block;
}

.small_text {
    font: 4px "Lucida Console", Monaco, monospace;

    //fill: black;


}

.line {
    stroke: #b4b4b4;
    stroke-width:1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.lineError {
    stroke: #FF0000;
    stroke-width:1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.isConnectedSide {
    stroke: #DCDCDC;
    stroke-width:1;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.rectFloor {
   pointer-events: none;
   stroke:black;
   fill:grey;
}

.rectBackground {
    //stroke:black;
    fill: grey;
}

.wrappingDiv {
    margin: 5%;

    width: 90%;
    height: 90%;

    border: 0;
    padding: 0;


      -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */


}

.div_succeed {
  animation-duration: 5s;
  animation-name: myanimation;
}

@keyframes myanimation {
    0% { opacity: 0; filter: blur(1px); }
    50% { opacity: 1; }

    100% { filter: blur(20px);  }
}
